<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id          = "com.phonegap.example"
        versionCode = "1504150524" 
        version     = "1.1" >
        
        <icon src="panchoico.png" width="72" height="72"/>

    <!-- versionCode is optional and Android only -->

    <name>DEMO SuperVisor 1.1</name>

    <description>
        DEMO
    </description>

    <author email="hmater@gmail.com">
        Victor Perez G. 
    </author>
    
    <!--preference name="orientation" value="landscape" /-->
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />

    <gap:config-file platform="android" parent="/manifest/application">
        <activity android:launchMode="singleInstance" />
    </gap:config-file>

</widget>